
.add-post{
    margin-top: 20px;
}


form a{
    margin-left: 5px;
}


.categories{
    margin-top: 35px;
}


.voting{
    margin: 0 10px;
}

.post-show{
    margin-top: 20px;
}

.my-text{
    height: 150px;
}

.my-buttons{
    margin: 20px;
}

.flexthem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;;
}
